<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Show Page</title>
</head>
<body>
    <div class="page_container">
        <div class="show_container">
            <h1>{{pet.pet_name}}</h1>
            <h4>{{pet.pet_fact}}</h4>
            <img src="{{pet.pet_photo}}" alt="Photo of {{pet.pet_name}}">
        </div>
        <br>
        <button><a href="/pets" style="text-decoration: none;">Go Back</a></button>
    </div>
</body>
</html>