<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Facts Index</title>
</head>
<body>
    <div class="page_container">
        <h1>UserFax</h1>
                {% for fact in facts %}
                    <div class="fact_container">
                        <h4>Submitted by {{ fact.submitter }}</h4>
                        <p>{{ fact.fact }}</p>
                    </div>
                {% endfor %}
            <button><a href="/pets">Go Home</a></button>
    </div>
</body>
</html>